{% extends 'base.html' %}

{% block content %}
    <header class="navbar css-navbar navbar-expand-md">
        <nav class="container-xxl" aria-label="Navigation">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle Navigation">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </nav>
    </header>
    <div id="content" class="container-xxl css-layout">

        <!-- Sidebar -->
        <aside class="css-sidebar">
            <nav id="sidebar" class="collapse css-nav">
                <div class="sidebar-header">
                    <h3>Contents</h3>
                </div>
                {%  include 'toc.html' %}
            </nav>
        </aside>

        <!-- Main Content -->
        <div class="css-main">
            {{content|safe}}
        </div>

    </div>
{%  endblock %}